<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header-->
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLogueado') %>
	
	  <% } else{ %>
	
		<%- include('./partials/header') %>
		
	  <%}%>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

			<form class="form-label" action="/users/login" method="POST" > <!-- Esto enviara los datos al método loginPost de mi controlador.-->
			
				 
					<div>
						<input class="form-input" id="email" class="input" type="email" name="email" placeholder="email" > 
					</div>
			
					<div>
						<input class="form-input" id="password" class="input" type="password" name="contrasenia" placeholder="Clave" >
					</div>
	
					<button class="form-input" type="submit" class="submit">Ingresar</button>
				</form>


	<!-- footer -->
	
		<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>