<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLogueado') %>
	
	  <% } else{ %>
	
		<%- include('./partials/header') %>
		
	  <%}%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			

				<form class="form-label" action="/mercado/registerProd" method="POST"> <!-- VER SI ESTO ES /MERCADO -->
					<div class="form-input">Crear Producto</div>
					<div class="form-input">
					  <input id="title" class="input" type="text" name="imagen" placeholder="url img de public folder"/> <!--max de la URL 100 cacarteres -->
					</div>
					<div class="form-input">
						<input id="title" class="input" type="text" name="nombre" placeholder="Nombre Producto" />
					  </div>
					  <div class="form-input">
						<input id="title" class="input" type="text" name="descripcion" placeholder="Descripcion Producto" />
					  </div>

					<button type="submit" class="submit">Guardar</button>
  
  
            	</form>
			


	<!-- footer -->
	
		<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>