<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLogueado') %>
	
	  <% } else{ %>
	
		<%- include('./partials/header') %>
		
	  <%}%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>

				<!-- formulario login -->


			<form class="form-label" action="/users/register" method="POST" >

				<div>
				  <input class="form-input" id="name" class="input" type="text" name="nombreUsuario" placeholder="name" /> <!-- el name tiene que machear lo de la base de datos -->
			  	</div>

				<div>
					<input class="form-input" id="email" class="input" type="email" name="email" placeholder="email" />
				</div>
		
				<div>
					<input class="form-input" id="password" class="input" type="password" name="contrasenia" placeholder="Clave" />
				</div>

				<button class="form-input" type="text" class="submit">Crear</button>

			  </form>

			
	<!-- footer -->
		<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>